!.gitignore
!/frontend/
!/frontend/backend/
!/frontend/backend/**

# ── 제외할 항목들 ──
__pycache__/
*.pyc
/frontend/backend/venv/
/frontend/backend/.env
/frontend/backend/.vscode/
/frontend/backend/static/uploads/*
!/frontend/backend/static/uploads/.gitkeep