!.gitignore
!/frontend/
!/frontend/backend/
!/frontend/backend/**

/frontend/backend/venv/
/frontend/backend/__pycache__/
/frontend/backend/.env
/frontend/backend/.vscode/
/frontend/backend/static/uploads/*
!/frontend/backend/static/uploads/.gitkeep